.footer {
  background-color: #333;
  max-height: 80rem;

  &__logo {
    padding-top: 10rem;
  }
  &__link {
    color: #f7f7f7;
    font-size: 1.4rem;
    font-weight: 400;
    // font-family: inherit;
    text-transform: uppercase;
    border-top: 1px solid $color-white;
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    margin-right: 10rem;

    @include respond(tab-port) {
      width: 100%;
    }

    &-item {
      transition: all 0.2s;
      background-color: #333;
      &:not(:last-child) {
        margin-right: 1rem;
      }
      &:not(:first-child):hover {
        transform: rotate(10deg) scale(1.4);
        color: $color-primary;
        box-shadow: 0px 3px 4px rgba($color-black, 0.3);
        cursor: pointer;
      }
    }
  }

  &__text {
    border-top: 1px solid $color-white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: $color-white;
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-left: 10rem;

    @include respond(tab-port) {
      margin-left: 0;
      width: 100%;
      text-align: center;
    }

    .styled-link {
      display: inline-block;
      transition: all 0.2s;
      background-color: #333;
      &:hover {
        transform: rotate(7deg) scale(1.4);
        color: $color-primary;
        box-shadow: 0px 5px 7px rgba($color-black, 0.3);
        cursor: pointer;
      }
    }
  }
}
