.header {
  width: 100%;
  height: 95vh;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
  background: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  // background-position: top;

  backface-visibility: hidden;

  .header__logo {
    position: absolute;
    top: 3rem;
    left: 3rem;

    &-icon {
      height: 3.5rem;
    }
    // animation: myAnim 200ms ease-in alternate;
    // animation-iteration-count: 30;
  }

  .header__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // text-transform: uppercase;

    backface-visibility: hidden;

    .header__btn {
      margin-top: 5rem;
      animation: toUp 0.25s ease-in 0.5s backwards;
      // animation-name: toUp;
      // animation-duration: 2s;
      // // animation-delay: 2s;
    }
  }
}
