.gallery {
  position: relative;
  &__img {
    position: absolute;
    width: 50%;
    border-radius: 2px;
    box-shadow: 0px 1.5rem 4rem rgba($color-black, 0.6);
    outline-offset: 2rem;
    transition: all 0.2s ease-in;

    &--1 {
      top: -2rem;
      left: 0;
      @include respond(tab-port) {
        top: 0;
        left: -10%;
      }
    }
    &--2 {
      top: 2rem;
      right: 10%;
      @include respond(tab-port) {
        top: 0rem;
        right: -10%;
      }
    }
    &--3 {
      top: 10rem;
      left: 15%;

      @include respond(tab-port) {
        top: 0;
        right: 0;
        transform: scale(1.2);
      }
    }

    &:hover {
      transform: scale(1.1) translateY(0.5rem);
      z-index: 99;
      outline: 1.5rem solid $color-primary;
    }
  }

  &:hover &__img:not(:hover) {
    transform: scale(0.95);
  }
}
