@keyframes myAnim {
  0% {
    top: 2.9rem;
  }
  100% {
    top: 3.1rem;
  }
}

@keyframes toUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  // 50% {
  //   opacity: 0;
  //   transform: translateY(3rem);
  // }
  100% {
    opacity: 1;
    transform: transateY(0);
  }
}

@keyframes toRight {
  0% {
    opacity: 0;
    transform: translateX(-10em);
  }

  80% {
    transform: translateX(3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
