* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 10px

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

// body { // doesn't work ??
//   box-sizing: border-box;
// }

ul > li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
::selection {
  background-color: #fff;
  color: #000;
}
